# QSS20 Project

Covid-19 twitter sentimate analysis

In [ ]:
# issues and questions for now

## why is there so much missing data? 
## are we even using the correct data? what is the difference with the 3 data files in the google drive folder?

In [5]:
import pandas as pd

# Path to the file
file_path = '/Users/alexwitheiler/Downloads/covid_sample-0.001.pkl'

# Load the data from the pickle file
data = pd.read_pickle(file_path)

# Display the first few rows of the dataframe
data

columns = ['username', 'location', 'description', 'followers', 'verified', 'tweet', 'datetime', 'extra_column']
df = pd.DataFrame(data, columns=columns)

# Handle missing values or extra columns
df.drop(columns=['extra_column'], inplace=True)  # Remove if not needed
df.fillna('Missing')  # Fill missing data

,tweetid,userid,screen_name,date,lang,location,place_id,place_url,place_type,place_name,...,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,description,rt_user_description,qtd_user_description,acc_age
15605,1220641644367765504,747463650881970176,gareth_grier,Fri Jan 24 09:37:01 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16910,1220640235358281729,937270922234363905,Rose_ifnt,Fri Jan 24 09:31:25 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,Switzerland,NaN,NaN,NaN,Switzerland,NaN,NaN,NaN,NaN,NaN
8796,1220632931489574913,3869545214,SinoVoices,Fri Jan 24 09:02:23 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14795,1220642433127436288,1053953342,_KhairiHassan,Fri Jan 24 09:40:09 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4225,1220640550178762753,1104714610421190656,Gaz60656269,Fri Jan 24 09:32:40 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,United Kingdom,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90900,1482664673854038016,508859323,laudemare,Sun Jan 16 10:42:59 +0000 2022,fr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Compte officiel. Chaque dimanche Ã 18h en excl...,NaN,3608.0
22201,1482656524245909507,1390529577760530433,Justbob111,Sun Jan 16 10:10:36 +0000 2022,en,Great Britain,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,"ex trawlerman, ex forces, now C&I engineer \n\...",NaN,NaN,254.0
81791,1482663571716775936,1464936163123281923,falcon2800,Sun Jan 16 10:38:36 +0000 2022,pt,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Hmmâ€¦ðŸ¤”,NaN,"É±Ïƒâˆ‚Îµâ„“\nâˆ‚à¹€ÎµÉ¦Î±É¾âˆ‚ Æ’Î±É³ÏƒÆ’_\nà¸£É¦Î±É¦É¾ÂµÒ¡É¦Ò¡É¦Î±É³ ,\nÒ¡à¹€Î±É¾Î± Î±...",48.0
88826,1482664418727145473,798161712,KevinSalvat,Sun Jan 16 10:41:58 +0000 2022,en,Surrey,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,Cofounder of @joinlincoln + new co. alum: grow...,NaN,3422.0
102639,1482666092438953995,1327585064541106177,claveledith1,Sun Jan 16 10:48:37 +0000 2022,fr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Â«Â Dans la vie on ne fait pas ce que lâ€™on veut ...,NaN,NaN,427.0

,username,location,description,followers,verified,tweet,datetime
15605,Missing,Missing,Missing,Missing,False,Missing,Missing
16910,Missing,Missing,Missing,Missing,False,Missing,Missing
8796,Missing,Missing,Missing,Missing,False,Missing,Missing
14795,Missing,Missing,Missing,Missing,False,Missing,Missing
4225,Missing,Missing,Missing,Missing,False,Missing,Missing
...,...,...,...,...,...,...,...
90900,Missing,Missing,Missing,Missing,False,Missing,Missing
22201,Missing,Great Britain,"ex trawlerman, ex forces, now C&I engineer \n\...",Missing,False,Missing,Missing
81791,Missing,Missing,Hmmâ€¦ðŸ¤”,Missing,False,Missing,Missing
88826,Missing,Surrey,Missing,Missing,False,Missing,Missing
102639,Missing,Missing,Â«Â Dans la vie on ne fait pas ce que lâ€™on veut ...,Missing,False,Missing,Missing